.follow-us-block {
    text-align: center;
    margin: 60px auto;
}

.follow-us-block h1 {
    font-weight: 250;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #010101;
}

.follow-us-icon div {
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.12em;
    color: #010101;
    display: inline-block;
    margin: 10px 5px;
}

.follow-us-icon div i {
    margin: 0 5px;
}

.detail-contact-block {
    flex-direction: row;
    justify-content: space-between;
    margin: 5.6%;
    display: flex;
    flex-wrap: wrap;
}

.contact-block-item {
    position: relative;
    text-align: left;
    padding: 10px 55px;
}

.block-border-line {
    position: absolute;
    height: 50%;
    width: 2px;
    background: black;
    bottom: 20%;
    left: 0;
}

.item-content {
    margin-bottom: 60px;
}

.detail-contact-block h3 {
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #010101;
}

.detail-contact-block span {
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #010101;
}

.contact-block-item i {
    font-size: 28px;
    position: absolute;
    top: 11%;
    left: -10px;
}

.contact-img {
    background: url("./img/contact-footer-img.jpg") no-repeat center;
    background-size: cover;
    margin: 20px 5.6%;
    height: 320px;
}

.contact-bg-rec {
    float: right;
    margin: 25px 5.6%;
    width: 47%;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-bg-rec div {
    background: #CCAD7B;
    height: 100%;
}

.contact-bg-rec div:nth-child(1) {
    width: 65.6%;
}

.contact-bg-rec div:nth-child(2) {
    width: 9.2%;
}

.contact-bg-rec div:nth-child(3) {
    width: 6.6%;
}

.contact-bg-rec div:nth-child(4) {
    width: 5.2%;
}

.contact-bg-rec div:nth-child(5) {
    width: 2.6%;
}

@media screen and (max-width: 970px) {
    .contact-bg-rec {
        flex-direction: row-reverse;
        width: 100%;
        height: 40px;
        margin: 20px 0;
    }
}

@media screen and (max-width: 816px) {
    .detail-contact-block {
        flex-direction: column;
        /*justify-content: center;*/
        /*align-items: center;*/
    }
}

@media screen and (max-width: 522px) {
    .follow-us-block h1 {
        padding-bottom: 16px;
        position: relative;
        font-weight: 300;
        font-size: 16px;
        line-height: 16px;
    }
    .follow-us-block h1:after{
        content: '';
        width: 100px;
        height: 1px;
        background: black;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .follow-us-icon {
        font-size: 16px;
        line-height: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .follow-us-icon i{
        font-size: 24px;
    }
    .contact-block-item {
        padding-top: 42px;
        text-align: center;
    }

    .block-border-line {
        width: 100%;
        height: 1px;
        top: 0;
        left: 0;
    }

    .contact-block-item i {
        background: white;
        z-index: 2;
        padding: 16px;
        top: -23px;
        left: 50%;
        transform: translateX(-50%);
    }

    .item-content {
        margin-bottom: 32px;
    }
}