.banner__bg {
    background: #EFE8DE;
    height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.banner__bg .about-our-employers {
    display: inline-block;
    font-weight: 250;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #010101;
}

.banner__bg .line {
    margin-top: 30px;
    width: 160px;
}

.banner__bg p {
    margin: 20px 0 0 0;
    display: inline-block;
    text-align: center;
    font-weight: 200;
    font-size: 24px;
    line-height: 34px;
    color: #010101;
}

.founders-container {
    margin: 0 12%;
}

.seo-director-block {
    z-index: 100;
    background: white;
    padding-top: 124px;
    padding-bottom: 50px;
    position: relative;
    margin-top: -84px;
    text-align: center;
}

.founder-box {
    margin: 26px;
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.box-img {
    background: url("./img/ceo-director.jpg") no-repeat center;
    background-size: cover;
    width: 320px;
    height: 320px
}

.line {
    width: 80px;
    height: 1px;
    margin: 5px auto;
    background: #010101;
}

h2 {
    font-weight: 250;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #010101;
}

span {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #999999;
}

.other-founder-container {
    margin: 0 auto;
    width: 1146px;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 1145px){
    .other-founder-container{
        width: 764px !important;
    }
}
@media screen and (max-width: 763px){
    .other-founder-container{
        width: 383px !important;
    }
}
